@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        background-color: rgb(15, 15, 15);
    }
    #root ::-webkit-scrollbar{
            width: 0;
            background-color: transparent;
        }
  }