@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        background-color: rgb(14, 0, 41);
        font-family: 'Noto Naskh Arabic', serif;
        font-family: 'Titillium Web', sans-serif;
    }
    #root ::-webkit-scrollbar{
            width: 0;
            background-color: transparent;
        }
  }